body {
    background-color: #030817;
    color: #e0e0e0;
}
.statusbar{
    font-size: 24px;
    background-color: #081536;
    border-bottom: 3px solid #1c2039;
}
.admin{
    background-color: #08112a;
    border-bottom: 3px solid #1c2039;
}
html, body, #app{
  height: 100vh;
  margin: 0;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.no-login button{
    background-color: #9e2c2c;
    border-color: #580505;
}

.no-login .user{
    display: none;
}

.death-off .minus{
    display: none;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.item{
  flex: 1;
    overflow: hidden;
}

.scrollable{
  overflow-y: auto;
}

.table {
    color: #e0e0e0;
}

.donations {
    width: 70%;
}
.incentives {
    width: 30%;
}
#incentiveoutput {
    margin-left: 5px;
    width: 95%;
}
.hidden {
    display: none;
}
.deaths{
    width: 160px;
}
.deathcount{
    width: 50px;
    display: inline-block;
}
#admin div{
    text-align: center;

}
button{
    margin: 3px;
}
.games{
    width: 300px;
}
.games div{
    height: 60px;
    font-size: 24px;
    line-height: 20px;

}
.stream-info{
    width: 400px;
}
.donflag{
    width: 200px;
}


/* KAIKKI TÄN JÄLKEEN ON LEGACYPASKAA */
.amount{
    width: 10%;
}
.message{
    width: 65%;
}
.name{
    width: 25%;
}

#stream {
    height: 100px;
    padding: 20px;
    font-size: 50px;
    text-align: center;
background-color: black;
}
#donation{
    position: relative;
    margin-top: -100px;
    height: 100px;
    font-size: 50px;
    text-align: center;
background-color: black;
    z-index: 100;
}


.progresbarholder{
    margin: 20px 0;
    border: solid 3px white;
    border-radius: 8px;
    padding: 5px;
    overflow: hidden;
}
.bar{
    background-color: #00b702;
    border-radius: 4px;
    height: 50px;
    padding-left: 13px;
    box-sizing: border-box;
    text-align: left;
    line-height: 50px;
}
.bargoal{
    float: right;
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: right;
    padding-right: 13px;
    box-sizing: border-box;
    margin-bottom: -50px;
}
.ibar{
    background-color: #542a53;
    border-radius: 4px;
    height: 20px;
    padding-left: 13px;
    box-sizing: border-box;
    text-align: left;
    line-height: 20px;
    margin-bottom: 5px;
    white-space: nowrap;
}
.ibargoal{
    float: right;
    height: 20px;
    line-height: 20px;
    width: 100%;
    text-align: right;
    padding-right: 13px;
    box-sizing: border-box;
    margin-bottom: -20px;
}
#outputs{
    display: flex;
}
.incentive{
    padding-bottom: 10px;
}
#donates{
    width: 50%;
}
#tags{
    width: 50%;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}